.navbar {
    animation: pulse 50s infinite;
  }
  
  @keyframes pulse {
    0%, 100% {
      background-color: #3fc8f5;
    }
    50% {
      background-color: #42b051;
    }
    25% {
      background-color: rgb(77, 211, 255);
    }
  }

  .navbar-brand {
    font-family: "Londrina Outline", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 39px;
    color: rgb(37, 16, 192)
  }