
.card-image  {
  background-color: rgba(216, 255, 252, 0.735);
  max-width: 100%;
  padding: 2%;
  margin-bottom: 16px;
  
}

.londrina-outline-regular {
  margin-top: 39px;
  text-align: center;
  font-size: 89px;
}